.jumbotron
  %h1 Welcome to ShiftGen
  %p Simply, Randomly and Evenly generate shifts.
  %p
    %a.btn.btn-lg.btn-primary{href: "generate", role: "button"} Start ShiftGen
    %a.btn.btn-lg.btn-primary{href: "help", role: "button"} Learn more
